<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate Us</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        .image-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }
        .image-container img {
            width: 300px;  /* Adjust size as needed */
            height: auto;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>Donate  Us</h1>
    <p>Donate wherever You Want</p>
    
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/DEV1.jpg') }}" alt="Help Image 1">
        <img src="{{ url_for('static', filename='images/DEV2.jpg') }}" alt="Help Image ">
    </div>

    <br>
    <a href="/">Back to Home</a>
</body>
</html>
